.page-numbers {
  list-style: none;
  display: flex;
}

.page-numbers li {
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
}

.page-numbers li.active {
  background-color: black;
  color: white;
}
