node_modules/

/be/node_modules
/be/.env

/fe/node_modules
/fe/.env
/fe/.pnp
/fe/.pnp.js
# testing 
/fe/coverage
# production
/fe/uild

# misc
/fe/.DS_Store
/fe/.env
/fe/.env.local
/fe/.env.development.local
/fe/.env.test.local
/fe/.env.production.local

/fe/npm-debug.log*
/fe/yarn-debug.log*
/fe/yarn-error.log*