/prototype-be/node_modules
/prototype-be/.env

/prototype-fe/node_modules
/prototype-fe/.env
/prototype-fe/.pnp
/prototype-fe/.pnp.js
# testing 
/prototype-fe/coverage
# production
/prototype-fe/uild

# misc
/prototype-fe/.DS_Store
/prototype-fe/.env
/prototype-fe/.env.local
/prototype-fe/.env.development.local
/prototype-fe/.env.test.local
/prototype-fe/.env.production.local

/prototype-fe/npm-debug.log*
/prototype-fe/yarn-debug.log*
/prototype-fe/yarn-error.log*