.production {
  &__header {
    width: 100%;
  }

  &__options {
    max-width: 20rem;
  }

  &__edit-notes {
    @include cflex;
    font-weight: 700;
    text-decoration: none;
    color: inherit;
    border: none;
    background-color: transparent;

    transition: all 0.2s;
    &:active,
    &:hover {
      color: lightgreen;
    }
    div {
      max-width: 35rem;
    }
  }

  &__process {
    @include cflex;
    flex-flow: column;
  }

  &__marked-item {
    @include cflex;
    width: 2rem;
    height: 2rem;
  }

  &__plus-btn {
    @include cflex;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
  }

  &__add-item-form {
    font-size: 1.6rem;
  }
}
